[submodule "flashroute/FlashRoute"]
	path = flashroute/FlashRoute
	url = https://github.com/lambdahuang/FlashRoute
[submodule "chproxy/chproxy"]
	path = chproxy/chproxy
	url = https://github.com/maxmouchet/chproxy.git
[submodule "bdrmapit/extern/retrieve_external"]
	path = bdrmapit/extern/retrieve_external
	url = https://github.com/alexmarder/retrieve_external.git
[submodule "bdrmapit/extern/ip2as"]
	path = bdrmapit/extern/ip2as
	url = https://github.com/alexmarder/ip2as.git
[submodule "ipv4-heatmap/ipv4-heatmap"]
	path = ipv4-heatmap/ipv4-heatmap
	url = git@github.com:measurement-factory/ipv4-heatmap.git
